@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
}

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }
}

@layer utilities {
  .error {
    color: theme('colors.error');
  }

  .google {
    background-color: #fff;
    color: #777;

    &:hover {
      filter: brightness(90%);
      background-color: #fff;
    }
  }

  .facebook {
    background-color: #3b5998;

    &:hover {
      filter: brightness(80%);
      background-color: #3b5998;
    }
  }
}
